@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@media only screen and (max-width: 767px) {
  .padding-row {
    padding: calc(#{$padding-medium} / 100 * 30) 0px;
  }
  .padding-sm {
    padding: calc(#{$padding-small} / 100 * 30) 0px;
  }
  .padding-xs {
    padding: calc(#{$padding-xs}  / 100 * 30) 0px;
  }
  .padding-lg {
    padding: calc(#{$padding-large} / 100 * 30) 0px;
  }
  .padding-all-row {
    padding: calc(#{$padding-medium} / 100 * 30) 15px;
  }
  .padding-all-sm {
    padding: calc(#{$padding-small} / 100 * 30) 15px;
  }
  .padding-all-xs {
    padding: calc(#{$padding-xs}  / 100 * 30) 15px;
  }
  .padding-all-lg {
    padding: calc(#{$padding-large} / 100 * 30) 15px;
  }
  p{
    font-size: 0.8em;
  }
  .header{
    .store-contact{
      padding-top: 60px;
    }
    .store-category{
      display: none;
    }
    .mobile-header-nav{
      display: block;
      .cart-box{
        a{
          line-height: 56px;
          span{
            
          }
        }
      }
    }
    .menu-nav{
      display: block;
    }
    .menu{
      display: none;
    }
    .store-contact{
      .container{
        .contact-info{
          
        }
        .logo{
          padding: 20px 0;
          img{
            width: 100%;
          }
        }
        .search-place{
          margin-top: 30px;
          form{
            text-align: center;
            #search-bar{
              width: 60%;
            }
            #btn-search{
            }
          }
        }
      }
    }
  }
  .page-main{
    .container{
      padding-left: 0;
      padding-right: 0;
      .bx-wrapper{
        #homeSlider{
          .content{
            padding: 30px 0px;
            .item-col-left{
              .product-img{
                width: 80%;
                margin: auto;
                margin-bottom: 20px;
                img{
                  max-height:250px;
                }
              }
            }
            .item-col-right{
              text-align: center;
              h1{
                font-size: 1.5em;
              }
              .tx-price{
                font-size: 1.5em;
              }
            }
          }
        }
        .bx-controls{
          .bx-prev{
            left: 0;
          }
          .bx-next{
            right: 0;
          }
        }
      }
    }
  }
  .page-collection{
    .container{
      .collection-content{
        .collection-desc{
          padding-top: 20px;
        }
      }
      .filter{
        form{
          .list,.grid{
            display:none;
          }
        }
      }
    }
  }
  .page-product-detail{
    .container{
      .breadcrumb{
        ul{
          li{
            font-size:12px;
          }
        }
      }
      .description{
        h3{
          margin-top: 10px;
        }
      }
      .product_page-left{
        display:none;
      }
      #full-gallery{
        display:block;
      }
      .product_page-right{
        padding-bottom:20px;
        .product-info{
          h2{
            font-size: 1.2em;
          }
          .price{
            font-size: 28px;
          }
        }
      }
    }
  }
  .page-cart{
    .container{
      .shoping_cart{
        .table-responsive{
          border:none;
          padding-bottom: 20px;
          .table{
            border: 1px solid #ddd;
            tr{
              td{
                white-space:normal;
              }
              .image{
                img{
                  width: 100px;
                }
              }
              .link{
                .name{
                  font-size: 0.8em;
                  text-transform:uppercase;
                }
              }
              .cart-delete{
                .btn-cart-delete{
                  padding: 10px 3px;
                  i{
                    width:50px;
                    padding: 5px;
                    font-size:24px;
                  }
                }
              }
            }
            tbody{
              tr{
                td{
                  &:nth-child(2){
                    min-width:170px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .padding-row {
    padding: calc(#{$padding-medium} / 100 * 20) 0px;
  }
  .padding-sm {
    padding: calc(#{$padding-small} / 100 * 20) 0px;
  }
  .padding-xs {
    padding: calc(#{$padding-xs}  / 100 * 20) 0px;
  }
  .padding-lg {
    padding: calc(#{$padding-large} / 100 * 20) 0px;
  }
  .padding-all-row {
    padding: calc(#{$padding-medium} / 100 * 20) 15px;
  }
  .padding-all-sm {
    padding: calc(#{$padding-small} / 100 * 20) 15px;
  }
  .padding-all-xs {
    padding: calc(#{$padding-xs}  / 100 * 20) 15px;
  }
  .padding-all-lg {
    padding: calc(#{$padding-large} / 100 * 20) 15px;
  }
  .header{
    .store-contact{
      padding-top: 90px;
    }
    .store-category{
      display: none;
    }
    .mobile-header-nav{
      display: block;
      height: 75px;
      .mobile-btn-menu{
        width: 65px;
        height: 65px;
      }
      .mobile-menu-list{
        a{
          line-height: 75px;
          font-size: 28px;
        }
        ul{
          li{
            a{
              font-size: 20px;
              line-height: 40px;
            }
          }
        }
      }
      .cart-box{
        right: 65px;
        height: 65px;
        a{
          line-height: 75px;
          i{
            font-size: 1.8em;
          }
          span{
            font-size: 1em;
            padding: 3px 11px;
          }
        }
      }
    }
    .menu-nav{
      display: block;
      .mobile-menu{
        width: 350px;
          -moz-transform: translateX(-350px);
          -ms-transform: translateX(-350px);
          -o-transform: translateX(-350px);
          -webkit-transform: translateX(-350px);
          transform: translateX(-350px);
        li{
          a{
            padding-top: 20px;
            padding-bottom: 23px;
            font-size: 1.5em;
            span{
              width: 45px;
              height: 45px;
              font: 400 20px "FontAwesome";
              line-height: 45px;
              top: 40%;
            }
          }
        }
      }
    }
    .menu{
      display: none;
    }
    .store-contact{
      .container{
        .contact-info{
          
        }
        .logo{
          padding: 20px 0;
          img{
            width: 100%;
          }
        }
        .search-place{
          margin-top: 30px;
          form{
            text-align: center;
            #search-bar{
              width: 60%;
            }
            #btn-search{
              
            }
          }
        }
      }
    }
  }
  .page-main{
    .container{
      padding-left: 0;
      padding-right: 0;
      .bx-wrapper{
        #homeSlider{
          .content{
            padding: 30px 45px;
            .item-col-left{
              .product-img{
                width: 80%;
                margin: auto;
                margin-bottom: 20px;
                img{
                  max-height:250px;
                }
              }
            }
            .item-col-right{
              h1{
                font-size: 2em;
              }
            }
          }
        }
      }
    }
  }
  .page-collection{
    .container{
      .collection-content{
        .collection-desc{
          padding-top: 20px;
        }
      }
      .filter{
        form{
          .list,.grid{
            display:none;
          }
        }
      }
    }
  }
  .page-product-detail{
    .container{
      .breadcrumb{
        ul{
          li{
            font-size:12px;
          }
        }
      }
      .description{
        h3{
          margin-top: 15px;
        }
      }
      .product_page-left{
        display:none;
      }
      #full-gallery{
        display:block;
      }
      .product_page-right{
        padding-bottom:20px;
        .product-info{
          h2{
            font-size: 1.2em;
          }
          .price{
            font-size: 28px;
          }
        }
      }
    }
  }
  .page-cart{
    .container{
      .shoping_cart{
        .form-group{
          font-size: 1.3em;
          .form-control{
            height: 45px;
            font-size: 18px;
          }
        }
        .table-responsive{
          border:none;
          padding-bottom: 20px;
          .table{
            border: 1px solid #ddd;
            tr{
              td{
                white-space:normal;
                font-size: 1.2em;
              }
              .image{
                img{
                  width: 100px;
                }
              }
              .link{
                .name{
                  font-size: 0.8em;
                  text-transform:uppercase;
                }
              }
              .cart-delete{
                .btn-cart-delete{
                  padding: 10px 3px;
                  i{
                    width:50px;
                    padding: 5px;
                    font-size:24px;
                  }
                }
              }
            }
            tbody{
              tr{
                td{
                  &:nth-child(2){
                    min-width:170px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .header{
    .menu{
      .cart{
        #cart-box{
          i{
            font-size: 1.2em;
          }
          span{
            font-size: 1em;
          }
        }
      }
    }
  }
  .page-cart{
    .container{
      .shoping_cart{
        .form-group{
          font-size: 1.3em;
          .form-control{
            height: 45px;
            font-size: 18px;
          }
        }
        .table-responsive{
          border:none;
          padding-bottom: 20px;
          .table{
            border: 1px solid #ddd;
            tr{
              td{
                white-space:normal;
              }
              .image{
                img{
                  width: 120px;
                }
              }
              .link{
                .name{
                  font-size: 0.8em;
                  text-transform:uppercase;
                }
              }
              .cart-delete{
                .btn-cart-delete{
                  padding: 10px 3px;
                  i{
                    width:50px;
                    padding: 5px;
                    font-size:24px;
                  }
                }
              }
            }
            tbody{
              tr{
                td{
                  &:nth-child(2){
                    min-width:170px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
