@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/typography';

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 78.5%;
	-webkit-overflow-scrolling: touch;
}

body {
	font: {
		size: 1.4em;
		line-height: 1.4em;
		family: $primary-font; // variables inside partials > _variables.scss
		weight: 100;
	}
	color: $black;
	background-color: $white;
	@include font-smoothing;
}

.breadcrumb{
	background: $box-bg;
	padding: 0px 10px;
	margin: 0px;
	& ul{
		& li{
			display: inline-block;
			padding: 0 5px;
			font-size: 14px;
			&:not(:first-child)::before{
				content: "/";
				font-size: 18px;
				color: #ccc;
				margin-right: 15px;
			}
		}
	}
}
.btn-addCart{
	display: inline-block;
	padding: 20px 30px;
	background: $yellow-bold;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
	h4,p{
		margin: 0;
	}
	&:hover{
		h4{
			color: white;
		}
		color: white;
		background: #252328;
		text-decoration: none;
	}
}
.popup{
	width: 100%;
	height: 100%;
	z-index: 99999;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	.container{
		.popupBox{
			position: absolute;
			left: 50%;
			top: 50%;
			padding: 20px;
			background-color: $white;
			@include transform(translate(-50% , -50%));
			h4,h5,p{
				color: $black;
				font-weight: 400;
			}
			h2{
				text-align: center;
			}
			a{
				padding: 15px;
				background-color: $yellow-bold;
				font-size: 24px;
				font-weight: bold;
				text-align: center;
				color: $dark;
				text-decoration: none;
				cursor: pointer;
				margin-top: 25px;
				&:hover{
					background-color: $dark;
					color: $yellow-bold;
				}
			}
		}
	}
}
.addCart-popup{
	z-index: 9999999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	.overlay{
		background-color: rgba(0,0,0,0.7);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1
	}
	.option-box{
		z-index: 2;
		padding: 20px;
		max-width: 400px;
		min-width: 320px;
		background-color: white;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		h4{
			span{
				color: $hover-red;
			}
		}
		.quantity-box{
			input{
				 line-height: 40px;
				padding-left: 10px;
				width: 100%;

			}
		}
		.active{
			label{
				&::after{
					background: #fabf21;
				}
			}
		}
		.radio{
			background-color: $light-boder;
			input{
				display: none;
			}
			label{
				padding-left: 40px;
				display: block;
				font-size: 0.9em;
				line-height: 40px;
				&::before,&::after{
					content: '';
					position: absolute;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
				}
				&::before{
					top: 12px;
					left: 9px;
					width: 16px;
					height: 16px;
					border: 1px solid #e1e1e1;
					background: #efefef;
				}
				&::after{
					width: 12px;
					height: 12px;
					-moz-transition: 0.3s all ease;
					-o-transition: 0.3s all ease;
					-webkit-transition: 0.3s all ease;
					transition: 0.3s all ease;
					top: 14px;
					left: 11px;
					/*background: #fabf21;*/
				}
			}
		}
		.btn-addCart{
			width: 200px;
			margin: auto;
			display: block;
			margin-top: 20px;
			i{
				font-size: 24px;
			}
		}
	}
}
.header{
	position: relative;
	background: url('../images/header-bg.jpg') no-repeat;
	background-size: cover;
	.menu{
		background-color: rgba(0,0,0,0.7);
		margin-bottom: 50px;
		ul{
			padding: 10px 0;
			li{
				display: inline-block;
				padding: 0 20px;
				color: white;
				&:hover{
					color: $yellow-bold;
				}
			}
		}
		.cart{
			background: #3b3d40;
			height: 78px;
			float: right;
			padding: 0;
			cursor: pointer;
			#cart-box{			
				height: 100%;
				line-height: 78px;
				padding: 0 15px;
				i{
					font-size: 1.4em;
					color: white;
					vertical-align: middle;
				}
				span{
					display: inline-block;
					color: white;
					margin-left: 10px;
					font-size: 1.2em;
					vertical-align: middle;
				}
				a {
					text-decoration: none;
				}
			}
			.cartContent{
				z-index: 99999;
				min-width: 320px;
				padding: 13px 10px 5px;
				max-height: 500px;
				overflow-y: auto;
				color: #1a1b1c;
				background-color: $white;
				margin: 0;
				position: absolute;
				right: 0;
				top: 100%;
				display: none;
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
				.itemsBox{
					line-height: 19px;
					margin: 10px 0;
					padding: 0;
					width: 100%;
					text-align: left;
					td{
						vertical-align: top;
						border-top: none;
					}
					
					.item-img{
						img{
							width: 100%;
						}
					}
					.item-info{
						color: $black;
						cursor: default;
						font-size: 0.8em;
						div{
							padding: 5px;
							line-height: 19px;
						}
						.item-name{
							font-weight: bold;
							cursor: pointer;
							text-transform: uppercase;
							
							&:hover {
								color: $hover-red;
							}
						}
						.item-size{
							text-transform: capitalize;
						}
						.item-quantity{
							display: inline-block;
						}
						.item-price{
							display: inline-block;
							color: $hover-red;
						}
					}
					.btn-delete{
						cursor: pointer;
						color: $light-grey;
						transition: all .5s ease;
						&:hover {
							color:$hover-red;
						}
					}
				}
				.cartTotal{
					font-size: 0.9em;
					padding: 10px 0;
					.value{
						color: $hover-red;
						text-align: right;
					}
					.bill-total{
						.value{
							font-weight: bold;
						}
					}
				}
				.btn-action{
					padding: 5px 0 15px;
					text-align: center;
					a{
						text-decoration: none;
						font-weight: bold;
						padding: 15px;
						&:hover{
							background-color:$dark;
							color: white;
						}
					}
					.viewCart{
						background-color: $light-grey;
						display: inline-block;
					}
					.checkout{
						background-color: $yellow-bold;
						display: inline-block;
					}
				}
			}
		}
	}
	.store-contact{
		text-align: center;
		color: white;
		margin-bottom: 50px;
		.contact-info{
			/*margin-top: 25px;*/
		}
		.search-place{
			margin-top: 50px;
			color: black;
			#search-bar{				
		    color: #b1b1b1;
		    display: inline-block;
		    margin: 0;
		    font-size: 18px;
		    line-height: 26px;
		    font-weight: 400;
		    width: 137px;
		    height: 26px;
		    padding: 0;
		    background: none;
		    border: none;
		    border-bottom: 1px solid #fff;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    &:focus {
					outline: none;					
		    }
			}
			#btn-search{
				background: transparent;
				border: none;
			    color: white;
				display: inline-block;
			}
		}
	}			
	.store-category{
		#category{
			background: #3b3d40;
			margin: 0;
			li{
				float: left;
				position: relative;
				color: #caced5;
				padding: 15px 20px;
				border-right: 1px solid #515151;
				font-weight: 600;
				margin: 0;
				&:nth-last-child(1){
					border: none;
				}
				.mainCategoryText {
					transition: all .5s ease;
				}
				&:hover .mainCategoryText{
					color: $yellow-bold;
					text-decoration: none;
					cursor: pointer;
				}
				.subCategory{
					background: #fff;
					margin: 0;
					display: none;
					position: absolute;
					padding: 10px 0;
					box-shadow: 0 0 0 5px rgba(0,0,0,0.3);
					-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
					-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
					width: 100%;
					min-width: 200px;
					top: 100%;
					z-index: 999999;
					left: 0;
					li{
						color: $black;
						padding: 10px 20px;
						width: 100%;
						font-weight: 600;
						border: none;
						a {
							transition: all .5s ease;
						}
						&:hover a{
							color: $hover-red;
							text-decoration: none;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	//mobile menu
	.menu-nav.active{
		right: 0;
      .mobile-menu{
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
    .menu-nav{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 999;
      text-align: left;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      .mobile-menu{
        position: fixed;
        margin: 0;
        top: -56px;
        left: 0;
        bottom: -56px;
        width: 240px;
        padding: 132px 0 76px;
        color: #eff0f1;
        background: #2f3033;
        font-size: 14px;
        line-height: 20px;
        overflow: auto;
        -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
        -moz-transform: translateX(-240px);
        -ms-transform: translateX(-240px);
        -o-transform: translateX(-240px);
        -webkit-transform: translateX(-240px);
        transform: translateX(-240px);
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        li{
          a.active{
            span{
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
              &:hover{
                background: #2f3033;
                color: #eff0f1;
              }
            }
          }
          a{
            display: block;
            padding: 14px 45px 16px 25px;
            color: #fff;
            position: relative;
            -moz-transition: 0.3s all ease;
            -o-transition: 0.3s all ease;
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease;
            text-decoration: none;
            &:hover{
              background: #fabf21;
              color: #3b3d40;
              font-weight: 600;
            }
            span{
              position: absolute;
              top: 50%;
              right: 11px;
              margin-top: -17.5px;
              width: 32px;
              height: 32px;
              font: 400 10px "FontAwesome";
              line-height: 32px;
              text-align: center;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              -moz-transition: 0.5s all ease;
              -o-transition: 0.5s all ease;
              -webkit-transition: 0.5s all ease;
              transition: 0.5s all ease;
              z-index: 1;
              background: rgba(0, 0, 0, 0.1);
              &::after{
                content: '\f078';
              }
              &:hover{
                background: #2f3033;
                color: #eff0f1;
              }
            }
          }
          ul.mobile-submenu{
            list-style-type: none;
            display: none;
            padding-left: 0;
            margin: 0;
            li{
              a{
                padding-left: 40px;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
	.mobile-header-nav{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 56px;
		background: #3b3d40;
		color: #fff;
		-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
		z-index: 10000;
		.mobile-btn-menu{
		  background: none;
		  border: none;
		  display: inline-block;
		  padding: 0;
		  outline: none;
		  outline-offset: 0;
		  -webkit-appearance: none;
		  position: fixed;
		  top: 4px;
		  left: 4px;
		  width: 48px;
		  height: 48px;
		  span{
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			width: 24px;
			height: 4px;
			background-color: #fff;
			backface-visibility: hidden;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			position: relative;
			display: block;
			margin: auto;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
			&::after{
			  content: "";
			  position: absolute;
			  left: 0;
			  -moz-transition: all 0.3s ease;
			  -o-transition: all 0.3s ease;
			  -webkit-transition: all 0.3s ease;
			  transition: all 0.3s ease;
			  top: 8px;
			  width: 24px;
			  height: 4px;
			  background-color: #fff;
			  backface-visibility: hidden;
			  -webkit-border-radius: 2px;
			  -moz-border-radius: 2px;
			  border-radius: 2px;
			  -moz-transform-origin: 1.71429px center;
			  -ms-transform-origin: 1.71429px center;
			  -o-transform-origin: 1.71429px center;
			  -webkit-transform-origin: 1.71429px center;
			  transform-origin: 1.71429px center;
			  -moz-transform-origin: 1.71429px center;
			  -ms-transform-origin: 1.71429px center;
			  -o-transform-origin: 1.71429px center;
			  -webkit-transform-origin: 1.71429px center;
			  transform-origin: 1.71429px center;
			}
			&::before{
			  content: "";
			  position: absolute;
			  left: 0;
			  top: -8px;
			  -moz-transition: all 0.3s ease;
			  -o-transition: all 0.3s ease;
			  -webkit-transition: all 0.3s ease;
			  transition: all 0.3s ease;
			  width: 24px;
			  height: 4px;
			  background-color: #fff;
			  backface-visibility: hidden;
			  -webkit-border-radius: 2px;
			  -moz-border-radius: 2px;
			  border-radius: 2px;
			  -moz-transform-origin: 1.71429px center;
			  -ms-transform-origin: 1.71429px center;
			  -o-transform-origin: 1.71429px center;
			  -webkit-transform-origin: 1.71429px center;
			  transform-origin: 1.71429px center;
			  -moz-transform-origin: 1.71429px center;
			  -ms-transform-origin: 1.71429px center;
			  -o-transform-origin: 1.71429px center;
			  -webkit-transform-origin: 1.71429px center;
			  transform-origin: 1.71429px center;
			}
		  }
		}
		.mobile-btn-menu.active{
			span{
				-moz-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				-o-transform: rotate(360deg);
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
				&::before,&::after{
				  top: 0;
				  width: 15px;
				}
				&::before{
				  -webkit-transform: rotate3d(0, 0, 1, -40deg);
				  transform: rotate3d(0, 0, 1, -40deg);
				}
				&::after{
				  -webkit-transform: rotate3d(0, 0, 1, 40deg);
				  transform: rotate3d(0, 0, 1, 40deg);
				}
			}
		}
		//mobile header menu
		.mobile-menu-list{
			&::before{
			  display: table;
			  content: " ";
			}
			display: block;
			position: fixed;
			top: 0;
			right: 10px;
			z-index: 10001;
			margin: 0;
			
			a{
				font-size: 22px;
				line-height: 56px;
				color: $white;
				i{
					padding: 10px;
					-moz-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
					-moz-transition: 0.5s all ease;
					-o-transition: 0.5s all ease;
					-webkit-transition: 0.5s all ease;
					transition: 0.5s all ease;
				}
				&:hover{
					color: #fabf21;
				}
			}
			a.active{
				i{
				  -moz-transform: rotate(180deg);
				  -ms-transform: rotate(180deg);
				  -o-transform: rotate(180deg);
				  -webkit-transform: rotate(180deg);
				  transform: rotate(180deg);
				}
			}
			ul{
				display: none;
				color: #3b3d40;
				background: #fff;
				margin: 0;
				-webkit-box-shadow: 0 1px 10px rgba(114, 114, 115, 0.3);
				-moz-box-shadow: 0 1px 10px rgba(114, 114, 115, 0.3);
				box-shadow: 0 1px 10px rgba(114, 114, 115, 0.3);
				padding: 10px 0;
				list-style-type: none;
				position: absolute;
				right: -10px;
				top: 100%;
				width: 200px;
				z-index: 20;
				li{
					font-size: 16px;
					line-height: 19px;
					padding: 0 5px 0 14px;
					width: 100%;
					text-align: left;
					margin: 0;
					a{
					  text-transform: capitalize;
					  font-size: 16px;
					  font-weight: 400;
					  line-height: 35px;
					  padding: 5px 0;
					  span{
						color: $black;
					  }
					}
				}
			}
		}
		//mobile cart-icon
		.cart-box{
			position: fixed; 
			right: 60px; 
			top: 0;
			padding: 0;
			a{
				i{
					font-size: 1.6em;
					color: $yellow-bold;
					vertical-align: middle;
				}
				span{
					margin-left: 0;
					padding: 3px 10px;
					font-weight: 600;
					line-height: 100%;
					background-color: $yellow-bold;
					border-radius: 100%;
					vertical-align: middle;
				}
				
			}
		}
    }
	//end mobile menu
}

.page-main{
	.banner{
		background: #E9DFC9;
    .bx-wrapper {
    	background: #E9DFC9;
    	margin: 0px;
    	border: none;
    	@include prefixer(box-shadow, none, webkit moz ms o);
    }
	}
	/*---------- Slide Content -------------------*/
	#homeSlider {
		.content {
			background: #E9DFC9;
	    text-transform: uppercase;
	    font-weight: 400;
	    box-sizing:border-box;
			color: #242424;
	    padding: 30px 180px;
			h1 {
		    margin-top:0;
		    margin-bottom:15px;
		    font-size: 52px;
		    line-height: 56px;
		    a:hover {
		    	text-decoration: none;
		    	color: inherit;
		    }
			}
			img {
		    margin:0 20px 0 0;
		    width: 100%;
		    max-height: 370px;	
		    object-fit: scale-down;		    
			}
			p {
		    font-weight: 400;
			}
			div.tx-price {
				font-size: 36px;
		    line-height: 36px;
		    margin-bottom: 20px;
		    margin-top: 15px;
		    color: #b14e4e;
			}
		}
	}

	.company{
		background: url('../images/parallax-bg.jpg') fixed no-repeat;
		background-size: cover;
		.container{
			.parallax{
					& h3{
						color: white;
						margin-bottom: 50px;
					}
					.text-center{
					padding-bottom: 20px;	
						& span{
							width: 100px;
							height: 100px;
							display: inline-block;
							border-radius: 50%;
							font: bold 36px/100px "Roboto";
							text-align: center;
							color: #242424;
							background: #fabf21;
							margin-bottom: 29px;
						}
						& h5,p{
							color: white;
						}
				}
			}
		}
	}
}

.page-product-detail{
	.container{
		.description{
			padding-left: 10px;
			padding-right: 10px;
		}
		.box-header{
			background: linear-gradient(to bottom, #fff 75%, $yellow-bold 65%, $yellow-bold 80%,#fff 60%);
			margin-bottom: 30px;
		}
		h1{
			text-align: left;
			background: white;
			display: inline;
			padding-right: 8px;
		}
	}
	#full-gallery{
		display:none;
		.full-slider{
			.item{
				.mobile-gallery{
					.product-img{
						img{
							margin: auto;
							max-height: 300px;
						}
					}
				}
			}
		}
	}
	.image-thumb{
		.bx-wrapper{
			img{
				max-height: 120px;
				margin: auto;
			}
		}
	}
	.product-gallery {	
		.image-thumb {
		  float: left;
		  width: 16%; 
			.bx-wrapper {
				@include prefixer(box-shadow, none, webkit moz ms o spec);
				margin: 0 !important;
				.bx-prev, .bx-next {
				  top: auto;
				  bottom: 0;
				  left: 0;
				  right: 0;
				  height: 26px;
				  line-height: 26px;
				  background: rgba(59, 61, 64, 0.5);
				  font-size: 16px;
				  text-align: center;
				  margin: 0;
				  color: #000; 
				  &:hover,&:hover {
				    background: #fabf21; 
				  }
				}

				.bx-prev {
				  top: 0;
				  bottom: auto; 
				}

				.bx-viewport {
				  margin: 0 -10px;
				  padding: 0 10px;
				  -moz-box-sizing: content-box;
				  -webkit-box-sizing: content-box;
				  box-sizing: content-box; 
				  height: 360px !important;
				}
				.bx-controls-direction a {
				 	width: 100%;
				 	.fa {
					  line-height: inherit;
					  text-indent: -9px;
					  position: absolute;
					  left: 50%;
					  color: white;
				    vertical-align: top;
					}				 	
				}

				li a {
				  border: 1px solid #e1e1e1;
				  background: #fff;
				  display: block; 
				  width: 100%;
				  &:hover, &.active {
				    background: #FFf;
				    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
				    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
				    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
				  }
				}
			}
		}

		.image-additional {
		  margin: 0 -10px 0 0;
		  padding: 0 10px 0 0;
		  list-style-type: none; 
		}

		#product-image {
			width: calc(100% - 120px);
			float: right;	
			img {
			    width: 100%;
			    height: 370px;
			    object-fit: scale-down;
			    border: 1px solid #e1e1e1;
			    box-sizing: border-box;
			}
		}
	}
	.product-info {
		h2.product-title {
			text-transform: uppercase;
			line-height: 1.2em;
		}
		.price {
		    display: inline-block;
		    font-size: 36px;
		    line-height: 30px;
		    color: #b14e4e;
		}
		.stock {
    	color: #54B70B;
		}
		.out-stock {
			color: #b14e4e;
		}
		.stock, .out-stock {
		    font-weight: 700;
		}
	}
}

.page-collection {
	.sidebar{
		padding-right: 30px;
	}
	.box-siderbar {
		margin-bottom: 30px;
	}
	.collection-thumb{
		img{
			width: 100%;
		}
	}
	.collection-content{
		h2{
			margin: 0;
		}
		.sub-category{
			.thumb-box{
				text-align: center;
				padding: 10px;
				.image{
					padding: 10px;
					width: 100%;
					border: 1px solid rgba(0,0,0,0.1);
					overflow: hidden;
					cursor: pointer;
					display: block;
					transition: .7s all ease;
					&:hover{
						border: 1px solid rgba(0,0,0,0.7); 
					}
					img{
						height: 200px;
					}
				}
				.thumb-title{
					text-decoration: none;
					h5{
						padding: 15px 0;
						margin: 0;
						cursor: pointer;
						transition: .7s all ease;
						&:hover{
							color: $hover-red;
						}
					}
				}
			}
		}
	}
	.filter {
	  background: $box-bg;
	  height: 45px;
	  margin: 30px 15px 30px 15px;
	  >form>div {
			cursor: pointer;
	  }
		.button {
		  width: 45px;
		  height: 45px;
		  text-align: center;
		  line-height: 45px;
		  vertical-align: middle;
		  float: left;
		  color: $light-grey;
		  &:hover {
		  	color: $grey;
		  }
			&.active {
				color: $yellow-bold;
			}
		}
		.button.active{
			color: $yellow-bold;
		}
		.button.disable{
			pointer-events: none;
			cursor: default;
		}
		select {
		  height: 45px;
		  border: none;
		  padding: 0px 5px;
		}
		.sort-type {
		  width: 160px;
		  height: 45px;
		  float:left;
		}
		.range {
		  float:right;
		  width: 126px;
		  height: 45px;
		}
		label {
			font-weight: normal;
		}
		button {
			border: none;
			background: transparent;
		}
		.dd-selected {
		    overflow: hidden;
		    display: inline-block;
		    padding: 6px 10px;
		    font-weight: bold;
		    line-height: 26px;
		    vertical-align: middle;
		}
		.dd-container {
			display: inline-block;
		}
	}
}

.page-cart {
	.table-responsive{
		padding-bottom: 20px;
		table {
			th {
				font-weight: bold;
				background: $yellow-bold;
			}
			.quantity_increase, .quantity_decrease {
				cursor: pointer;
			}
		}
	}
}
/* -------------------------------- 

Common Components


-------------------------------- */
footer{
	border-top: 1px solid $light-boder;
	.support{
		.container{
			.left-panel{
				.col-lg-6{
					padding: 20px;
					& h5{
						margin-bottom: 30px;
					}
					& a{
						text-decoration: none;
						&:hover{
							cursor: pointer;
							color: #B14E4E;
							
						}
					}
				}
			}
		}
	}
}

/*********** PRODUCT GRID ***********/
.item-product.list{
	.btn-addCart{
		width: 33.333333%;
	}
}
.item-product{
	margin-bottom: 30px;
	border: 1px solid #e1e1e1;
	/*margin-bottom: 10px;*/
	transition: all .7s linear ;
	position: relative;
	overflow: hidden;
	&:hover{
		border: 1px solid black;
		& img{
			transform: scale(1.1);
		}
	}
	.product-img{
		padding: 10px;
		& img{
			transition: all 0.5s linear;
			width: 100%;
			height: 270px;
			object-fit: scale-down;
		}
	}
	.product-detail{
		padding: 10px;
		& a{
			text-decoration: none;
			&:hover{
				color: #B14E4E;
			}
			.product-name{
				height: 55px;
				font-weight: 600;
				font-size: 16px;
				overflow: hidden;
				text-transform: uppercase;
			}
		}
		.product-price{
			font-size: 22px;
			color: $hover-red;
		}
	}
	.btn-addCart{
		display: block;
		width: 100%;
	}
	
	.sale,.new{
		position: absolute;
		pointer-events: none;
		top: 21px;
		left: -38px;
		color: #fff;
		background: #b14e4e;
		font: bold 14px/25px "Roboto";
		text-transform: uppercase;
		text-align: center;
		vertical-align: top;
		width: 120px;
		height: 60px;
		padding-top: 35px;
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin-left: -7px;
		margin-top: -37px;
	}
}

.cart-wrapper{
	.table{
		#cart-template{
			display: none;
		}
		.cart-product{
			.image{
				a{
					img{
						width: 200px;
					}
				}
			}
			.btn-block{
				a{
					background-color: #ddd;
					padding: 4px 10px;
				}
			}
			.price {
				font-size: 1.3em;
				font-weight: 500;
			}
			.btn-cart-delete{
				padding: 4px 10px;
				background-color: #ddd;
			}
		}
	}
	.tb-total{
		tr{
			td{
				border-top: none;
				border-bottom: 1px solid #ddd;
				&:nth-child(even){
					text-align: right;
					font-weight: 600;
					color: red;
					font-size: 24px;
				}
			}
		}
	}
}
.no-padding{
	padding: 0;
}

.clearfix:before,.clearfix:after
{
  content:"";
  display:table;
}

.clearfix:after
{
  content:"";
  display:table;
  clear:both;
}

.clearfix
{
  zoom:1;
}
