// simple grid system, same as bootstrap
@include MQ(E) {  
  @for $i from 12 through 1 {
    .col-xs-#{$i}  {
      width: 100% / 12 * $i;
      display: inline-block;
      vertical-align: top;
      padding: 0px 5px;
    }
  }
}
@include MQ(S) {
  @for $i from 12 through 1 {
    .col-sm-#{$i} {
      width: 100% / 12 * $i;
      display: inline-block;
      vertical-align: top;
      padding: 0px 5px;
    }
  }
}
@include MQ(M) {
  @for $i from 12 through 1 {
    .col-md-#{$i} {
      width: 100% / 12 * $i;
      display: inline-block;
      vertical-align: top;
      padding: 0px 10px;
    }
  } 
}
@include MQ(L) {
  @for $i from 12 through 1 {
    .col-lg-#{$i} {
      width: 100% / 12 * $i;
      display: inline-block;
      vertical-align: top;
      padding: 0px 10px;
    }
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include MQ(E) {
    width: calc(100% - 10px);
  }
  @include MQ(S) {
    width: calc(100% - 20px);
  }
  @include MQ(M) {
    width: 970px;
  }
  @include MQ(L) {
    width: 1170px;
  }
}
.container-fluid, .row {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.container-840 {
  width: 840px;
  margin: auto; 
}

.container-760 {
  width: 760px;
  margin: auto; 
}


