// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin bg-color($color: $red, $opacity: 0.7) {
    background-color: $color; /* The Fallback */
    background-color: rgba($color, $opacity);
}
@mixin quote-sign($selector, $font-size: 2.2em, $line-height: 0.2em) {
  #{$selector}::before {
    content: '\201C';
    font-size: $font-size;
    vertical-align: bottom;
    color: $grey;
    line-height: $line-height;
    margin-right: 4px;
  }
  #{$selector}::after {
    content: '\201D';
    font-size: $font-size;
    vertical-align: bottom;
    color: $grey;
    line-height: $line-height;
    margin-left: 4px;
  }
}
@mixin bottom-links{
  .btn-tile{
      padding: 20px;
      & a{
        display: block;
        padding: 15px;
        & strong{
          display: block;
          font-size: 0.5em;
        }
        .public-date{
          font-size: 0.4em;
          padding: 0 80px;
        }
      }
    }
}
@mixin inline-imgs($n, $h) {
  height: $h;
  width: 100% / $n;
  object-fit: cover;
}
// media queries

@mixin MQ($canvas) {
  @if $canvas == E {
    @media only screen and (max-width: $E) { @content; } 
  }
  @if $canvas == S {
    @media only screen and (min-width: $S) and (max-width: $M) { @content; } 
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) and (max-width: $L) { @content; } 
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; } 
  }
}