
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.3em;
}
strong {
  font-weight:bold;
}
.text-center {
  text-align: center;
}
.float-left {
  float:left;
}
.float-right {
  float: right;
}
.lighter {
  font-weight: 300 !important; 
}
.thin {
  font-weight: 100 !important;
}
.thick {
  font-weight: 600 !important;
}
ul, ol {
  margin: 10px 5px;
}
li {
  margin: 5px 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8 {    
    color: #242424;
    margin: 0 0 20px;
    font-weight: bold;
    line-height: 1.2em;
}
.padding-row {
  padding: $padding-medium 0px;
}
.padding-sm {
  padding: $padding-small 0px;
}
.padding-xs {
  padding: $padding-xs 0px;
}
.padding-lg {
  padding: $padding-large 0px;
}

.padding-all-row {
  padding: $padding-medium 15px;
}
.padding-all-sm {
  padding: $padding-small 15px;
}
.padding-all-xs {
  padding: $padding-xs 15px;
}
.padding-all-lg {
  padding: $padding-large 15px;
}