// colors
$yellow-bold: #fabf21;
$grey: #6e6e6e;
$light-grey: #a3a3a3;
$light-boder: #e1e1e1;
$dark: #2d2d2d;
$black: #131313;
$white: #ffffff;
$hover-red: #b14e4e;
$box-bg: #efefef;
$padding-medium: 170px;
$padding-small: 70px;
$padding-xs: 30px;
$padding-large: 240px;

// Layout various sizes
$E:     480px;   
$S:     768px;   
$M:     992px;     
$L:     1200px;    


// fonts 

$primary-font: 'Open Sans', Arial, sans-serif;

