@media only screen and (max-width: 767px) {
  .padding-row {
    padding: calc(170px / 100 * 30) 0px; }

  .padding-sm {
    padding: calc(70px / 100 * 30) 0px; }

  .padding-xs {
    padding: calc(30px  / 100 * 30) 0px; }

  .padding-lg {
    padding: calc(240px / 100 * 30) 0px; }

  .padding-all-row {
    padding: calc(170px / 100 * 30) 15px; }

  .padding-all-sm {
    padding: calc(70px / 100 * 30) 15px; }

  .padding-all-xs {
    padding: calc(30px  / 100 * 30) 15px; }

  .padding-all-lg {
    padding: calc(240px / 100 * 30) 15px; }

  p {
    font-size: 0.8em; }

  .header .store-contact {
    padding-top: 60px; }
  .header .store-category {
    display: none; }
  .header .mobile-header-nav {
    display: block; }
    .header .mobile-header-nav .cart-box a {
      line-height: 56px; }
  .header .menu-nav {
    display: block; }
  .header .menu {
    display: none; }
  .header .store-contact .container .logo {
    padding: 20px 0; }
    .header .store-contact .container .logo img {
      width: 100%; }
  .header .store-contact .container .search-place {
    margin-top: 30px; }
    .header .store-contact .container .search-place form {
      text-align: center; }
      .header .store-contact .container .search-place form #search-bar {
        width: 60%; }

  .page-main .container {
    padding-left: 0;
    padding-right: 0; }
    .page-main .container .bx-wrapper #homeSlider .content {
      padding: 30px 0px; }
      .page-main .container .bx-wrapper #homeSlider .content .item-col-left .product-img {
        width: 80%;
        margin: auto;
        margin-bottom: 20px; }
        .page-main .container .bx-wrapper #homeSlider .content .item-col-left .product-img img {
          max-height: 250px; }
      .page-main .container .bx-wrapper #homeSlider .content .item-col-right {
        text-align: center; }
        .page-main .container .bx-wrapper #homeSlider .content .item-col-right h1 {
          font-size: 1.5em; }
        .page-main .container .bx-wrapper #homeSlider .content .item-col-right .tx-price {
          font-size: 1.5em; }
    .page-main .container .bx-wrapper .bx-controls .bx-prev {
      left: 0; }
    .page-main .container .bx-wrapper .bx-controls .bx-next {
      right: 0; }

  .page-collection .container .collection-content .collection-desc {
    padding-top: 20px; }
  .page-collection .container .filter form .list, .page-collection .container .filter form .grid {
    display: none; }

  .page-product-detail .container .breadcrumb ul li {
    font-size: 12px; }
  .page-product-detail .container .description h3 {
    margin-top: 10px; }
  .page-product-detail .container .product_page-left {
    display: none; }
  .page-product-detail .container #full-gallery {
    display: block; }
  .page-product-detail .container .product_page-right {
    padding-bottom: 20px; }
    .page-product-detail .container .product_page-right .product-info h2 {
      font-size: 1.2em; }
    .page-product-detail .container .product_page-right .product-info .price {
      font-size: 28px; }

  .page-cart .container .shoping_cart .table-responsive {
    border: none;
    padding-bottom: 20px; }
    .page-cart .container .shoping_cart .table-responsive .table {
      border: 1px solid #ddd; }
      .page-cart .container .shoping_cart .table-responsive .table tr td {
        white-space: normal; }
      .page-cart .container .shoping_cart .table-responsive .table tr .image img {
        width: 100px; }
      .page-cart .container .shoping_cart .table-responsive .table tr .link .name {
        font-size: 0.8em;
        text-transform: uppercase; }
      .page-cart .container .shoping_cart .table-responsive .table tr .cart-delete .btn-cart-delete {
        padding: 10px 3px; }
        .page-cart .container .shoping_cart .table-responsive .table tr .cart-delete .btn-cart-delete i {
          width: 50px;
          padding: 5px;
          font-size: 24px; }
      .page-cart .container .shoping_cart .table-responsive .table tbody tr td:nth-child(2) {
        min-width: 170px; } }
@media (min-width: 768px) and (max-width: 992px) {
  .padding-row {
    padding: calc(170px / 100 * 20) 0px; }

  .padding-sm {
    padding: calc(70px / 100 * 20) 0px; }

  .padding-xs {
    padding: calc(30px  / 100 * 20) 0px; }

  .padding-lg {
    padding: calc(240px / 100 * 20) 0px; }

  .padding-all-row {
    padding: calc(170px / 100 * 20) 15px; }

  .padding-all-sm {
    padding: calc(70px / 100 * 20) 15px; }

  .padding-all-xs {
    padding: calc(30px  / 100 * 20) 15px; }

  .padding-all-lg {
    padding: calc(240px / 100 * 20) 15px; }

  .header .store-contact {
    padding-top: 90px; }
  .header .store-category {
    display: none; }
  .header .mobile-header-nav {
    display: block;
    height: 75px; }
    .header .mobile-header-nav .mobile-btn-menu {
      width: 65px;
      height: 65px; }
    .header .mobile-header-nav .mobile-menu-list a {
      line-height: 75px;
      font-size: 28px; }
    .header .mobile-header-nav .mobile-menu-list ul li a {
      font-size: 20px;
      line-height: 40px; }
    .header .mobile-header-nav .cart-box {
      right: 65px;
      height: 65px; }
      .header .mobile-header-nav .cart-box a {
        line-height: 75px; }
        .header .mobile-header-nav .cart-box a i {
          font-size: 1.8em; }
        .header .mobile-header-nav .cart-box a span {
          font-size: 1em;
          padding: 3px 11px; }
  .header .menu-nav {
    display: block; }
    .header .menu-nav .mobile-menu {
      width: 350px;
      -moz-transform: translateX(-350px);
      -ms-transform: translateX(-350px);
      -o-transform: translateX(-350px);
      -webkit-transform: translateX(-350px);
      transform: translateX(-350px); }
      .header .menu-nav .mobile-menu li a {
        padding-top: 20px;
        padding-bottom: 23px;
        font-size: 1.5em; }
        .header .menu-nav .mobile-menu li a span {
          width: 45px;
          height: 45px;
          font: 400 20px "FontAwesome";
          line-height: 45px;
          top: 40%; }
  .header .menu {
    display: none; }
  .header .store-contact .container .logo {
    padding: 20px 0; }
    .header .store-contact .container .logo img {
      width: 100%; }
  .header .store-contact .container .search-place {
    margin-top: 30px; }
    .header .store-contact .container .search-place form {
      text-align: center; }
      .header .store-contact .container .search-place form #search-bar {
        width: 60%; }

  .page-main .container {
    padding-left: 0;
    padding-right: 0; }
    .page-main .container .bx-wrapper #homeSlider .content {
      padding: 30px 45px; }
      .page-main .container .bx-wrapper #homeSlider .content .item-col-left .product-img {
        width: 80%;
        margin: auto;
        margin-bottom: 20px; }
        .page-main .container .bx-wrapper #homeSlider .content .item-col-left .product-img img {
          max-height: 250px; }
      .page-main .container .bx-wrapper #homeSlider .content .item-col-right h1 {
        font-size: 2em; }

  .page-collection .container .collection-content .collection-desc {
    padding-top: 20px; }
  .page-collection .container .filter form .list, .page-collection .container .filter form .grid {
    display: none; }

  .page-product-detail .container .breadcrumb ul li {
    font-size: 12px; }
  .page-product-detail .container .description h3 {
    margin-top: 15px; }
  .page-product-detail .container .product_page-left {
    display: none; }
  .page-product-detail .container #full-gallery {
    display: block; }
  .page-product-detail .container .product_page-right {
    padding-bottom: 20px; }
    .page-product-detail .container .product_page-right .product-info h2 {
      font-size: 1.2em; }
    .page-product-detail .container .product_page-right .product-info .price {
      font-size: 28px; }

  .page-cart .container .shoping_cart .form-group {
    font-size: 1.3em; }
    .page-cart .container .shoping_cart .form-group .form-control {
      height: 45px;
      font-size: 18px; }
  .page-cart .container .shoping_cart .table-responsive {
    border: none;
    padding-bottom: 20px; }
    .page-cart .container .shoping_cart .table-responsive .table {
      border: 1px solid #ddd; }
      .page-cart .container .shoping_cart .table-responsive .table tr td {
        white-space: normal;
        font-size: 1.2em; }
      .page-cart .container .shoping_cart .table-responsive .table tr .image img {
        width: 100px; }
      .page-cart .container .shoping_cart .table-responsive .table tr .link .name {
        font-size: 0.8em;
        text-transform: uppercase; }
      .page-cart .container .shoping_cart .table-responsive .table tr .cart-delete .btn-cart-delete {
        padding: 10px 3px; }
        .page-cart .container .shoping_cart .table-responsive .table tr .cart-delete .btn-cart-delete i {
          width: 50px;
          padding: 5px;
          font-size: 24px; }
      .page-cart .container .shoping_cart .table-responsive .table tbody tr td:nth-child(2) {
        min-width: 170px; } }
@media (min-width: 993px) and (max-width: 1200px) {
  .header .menu .cart #cart-box i {
    font-size: 1.2em; }
  .header .menu .cart #cart-box span {
    font-size: 1em; }

  .page-cart .container .shoping_cart .form-group {
    font-size: 1.3em; }
    .page-cart .container .shoping_cart .form-group .form-control {
      height: 45px;
      font-size: 18px; }
  .page-cart .container .shoping_cart .table-responsive {
    border: none;
    padding-bottom: 20px; }
    .page-cart .container .shoping_cart .table-responsive .table {
      border: 1px solid #ddd; }
      .page-cart .container .shoping_cart .table-responsive .table tr td {
        white-space: normal; }
      .page-cart .container .shoping_cart .table-responsive .table tr .image img {
        width: 120px; }
      .page-cart .container .shoping_cart .table-responsive .table tr .link .name {
        font-size: 0.8em;
        text-transform: uppercase; }
      .page-cart .container .shoping_cart .table-responsive .table tr .cart-delete .btn-cart-delete {
        padding: 10px 3px; }
        .page-cart .container .shoping_cart .table-responsive .table tr .cart-delete .btn-cart-delete i {
          width: 50px;
          padding: 5px;
          font-size: 24px; }
      .page-cart .container .shoping_cart .table-responsive .table tbody tr td:nth-child(2) {
        min-width: 170px; } }
