a {
  text-decoration: none;
  color: inherit; }

p {
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.3em; }

strong {
  font-weight: bold; }

.text-center {
  text-align: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.lighter {
  font-weight: 300 !important; }

.thin {
  font-weight: 100 !important; }

.thick {
  font-weight: 600 !important; }

ul, ol {
  margin: 10px 5px; }

li {
  margin: 5px 0px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8 {
  color: #242424;
  margin: 0 0 20px;
  font-weight: bold;
  line-height: 1.2em; }

.padding-row {
  padding: 170px 0px; }

.padding-sm {
  padding: 70px 0px; }

.padding-xs {
  padding: 30px 0px; }

.padding-lg {
  padding: 240px 0px; }

.padding-all-row {
  padding: 170px 15px; }

.padding-all-sm {
  padding: 70px 15px; }

.padding-all-xs {
  padding: 30px 15px; }

.padding-all-lg {
  padding: 240px 15px; }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 78.5%;
  -webkit-overflow-scrolling: touch; }

body {
  font-size: 1.4em;
  font-line-height: 1.4em;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: #131313;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.breadcrumb {
  background: #efefef;
  padding: 0px 10px;
  margin: 0px; }
  .breadcrumb ul li {
    display: inline-block;
    padding: 0 5px;
    font-size: 14px; }
    .breadcrumb ul li:not(:first-child)::before {
      content: "/";
      font-size: 18px;
      color: #ccc;
      margin-right: 15px; }

.btn-addCart {
  display: inline-block;
  padding: 20px 30px;
  background: #fabf21;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border: none; }
  .btn-addCart h4, .btn-addCart p {
    margin: 0; }
  .btn-addCart:hover {
    color: white;
    background: #252328;
    text-decoration: none; }
    .btn-addCart:hover h4 {
      color: white; }

.popup {
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); }
  .popup .container .popupBox {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    background-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .popup .container .popupBox h4, .popup .container .popupBox h5, .popup .container .popupBox p {
      color: #131313;
      font-weight: 400; }
    .popup .container .popupBox h2 {
      text-align: center; }
    .popup .container .popupBox a {
      padding: 15px;
      background-color: #fabf21;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: #2d2d2d;
      text-decoration: none;
      cursor: pointer;
      margin-top: 25px; }
      .popup .container .popupBox a:hover {
        background-color: #2d2d2d;
        color: #fabf21; }

.addCart-popup {
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }
  .addCart-popup .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .addCart-popup .option-box {
    z-index: 2;
    padding: 20px;
    max-width: 400px;
    min-width: 320px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .addCart-popup .option-box h4 span {
      color: #b14e4e; }
    .addCart-popup .option-box .quantity-box input {
      line-height: 40px;
      padding-left: 10px;
      width: 100%; }
    .addCart-popup .option-box .active label::after {
      background: #fabf21; }
    .addCart-popup .option-box .radio {
      background-color: #e1e1e1; }
      .addCart-popup .option-box .radio input {
        display: none; }
      .addCart-popup .option-box .radio label {
        padding-left: 40px;
        display: block;
        font-size: 0.9em;
        line-height: 40px; }
        .addCart-popup .option-box .radio label::before, .addCart-popup .option-box .radio label::after {
          content: '';
          position: absolute;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
        .addCart-popup .option-box .radio label::before {
          top: 12px;
          left: 9px;
          width: 16px;
          height: 16px;
          border: 1px solid #e1e1e1;
          background: #efefef; }
        .addCart-popup .option-box .radio label::after {
          width: 12px;
          height: 12px;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          top: 14px;
          left: 11px;
          /*background: #fabf21;*/ }
    .addCart-popup .option-box .btn-addCart {
      width: 200px;
      margin: auto;
      display: block;
      margin-top: 20px; }
      .addCart-popup .option-box .btn-addCart i {
        font-size: 24px; }

.header {
  position: relative;
  background: url("../images/header-bg.jpg") no-repeat;
  background-size: cover; }
  .header .menu {
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 50px; }
    .header .menu ul {
      padding: 10px 0; }
      .header .menu ul li {
        display: inline-block;
        padding: 0 20px;
        color: white; }
        .header .menu ul li:hover {
          color: #fabf21; }
    .header .menu .cart {
      background: #3b3d40;
      height: 78px;
      float: right;
      padding: 0;
      cursor: pointer; }
      .header .menu .cart #cart-box {
        height: 100%;
        line-height: 78px;
        padding: 0 15px; }
        .header .menu .cart #cart-box i {
          font-size: 1.4em;
          color: white;
          vertical-align: middle; }
        .header .menu .cart #cart-box span {
          display: inline-block;
          color: white;
          margin-left: 10px;
          font-size: 1.2em;
          vertical-align: middle; }
        .header .menu .cart #cart-box a {
          text-decoration: none; }
      .header .menu .cart .cartContent {
        z-index: 99999;
        min-width: 320px;
        padding: 13px 10px 5px;
        max-height: 500px;
        overflow-y: auto;
        color: #1a1b1c;
        background-color: #ffffff;
        margin: 0;
        position: absolute;
        right: 0;
        top: 100%;
        display: none;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); }
        .header .menu .cart .cartContent .itemsBox {
          line-height: 19px;
          margin: 10px 0;
          padding: 0;
          width: 100%;
          text-align: left; }
          .header .menu .cart .cartContent .itemsBox td {
            vertical-align: top;
            border-top: none; }
          .header .menu .cart .cartContent .itemsBox .item-img img {
            width: 100%; }
          .header .menu .cart .cartContent .itemsBox .item-info {
            color: #131313;
            cursor: default;
            font-size: 0.8em; }
            .header .menu .cart .cartContent .itemsBox .item-info div {
              padding: 5px;
              line-height: 19px; }
            .header .menu .cart .cartContent .itemsBox .item-info .item-name {
              font-weight: bold;
              cursor: pointer;
              text-transform: uppercase; }
              .header .menu .cart .cartContent .itemsBox .item-info .item-name:hover {
                color: #b14e4e; }
            .header .menu .cart .cartContent .itemsBox .item-info .item-size {
              text-transform: capitalize; }
            .header .menu .cart .cartContent .itemsBox .item-info .item-quantity {
              display: inline-block; }
            .header .menu .cart .cartContent .itemsBox .item-info .item-price {
              display: inline-block;
              color: #b14e4e; }
          .header .menu .cart .cartContent .itemsBox .btn-delete {
            cursor: pointer;
            color: #a3a3a3;
            transition: all .5s ease; }
            .header .menu .cart .cartContent .itemsBox .btn-delete:hover {
              color: #b14e4e; }
        .header .menu .cart .cartContent .cartTotal {
          font-size: 0.9em;
          padding: 10px 0; }
          .header .menu .cart .cartContent .cartTotal .value {
            color: #b14e4e;
            text-align: right; }
          .header .menu .cart .cartContent .cartTotal .bill-total .value {
            font-weight: bold; }
        .header .menu .cart .cartContent .btn-action {
          padding: 5px 0 15px;
          text-align: center; }
          .header .menu .cart .cartContent .btn-action a {
            text-decoration: none;
            font-weight: bold;
            padding: 15px; }
            .header .menu .cart .cartContent .btn-action a:hover {
              background-color: #2d2d2d;
              color: white; }
          .header .menu .cart .cartContent .btn-action .viewCart {
            background-color: #a3a3a3;
            display: inline-block; }
          .header .menu .cart .cartContent .btn-action .checkout {
            background-color: #fabf21;
            display: inline-block; }
  .header .store-contact {
    text-align: center;
    color: white;
    margin-bottom: 50px; }
    .header .store-contact .contact-info {
      /*margin-top: 25px;*/ }
    .header .store-contact .search-place {
      margin-top: 50px;
      color: black; }
      .header .store-contact .search-place #search-bar {
        color: #b1b1b1;
        display: inline-block;
        margin: 0;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        width: 137px;
        height: 26px;
        padding: 0;
        background: none;
        border: none;
        border-bottom: 1px solid #fff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .header .store-contact .search-place #search-bar:focus {
          outline: none; }
      .header .store-contact .search-place #btn-search {
        background: transparent;
        border: none;
        color: white;
        display: inline-block; }
  .header .store-category #category {
    background: #3b3d40;
    margin: 0; }
    .header .store-category #category li {
      float: left;
      position: relative;
      color: #caced5;
      padding: 15px 20px;
      border-right: 1px solid #515151;
      font-weight: 600;
      margin: 0; }
      .header .store-category #category li:nth-last-child(1) {
        border: none; }
      .header .store-category #category li .mainCategoryText {
        transition: all .5s ease; }
      .header .store-category #category li:hover .mainCategoryText {
        color: #fabf21;
        text-decoration: none;
        cursor: pointer; }
      .header .store-category #category li .subCategory {
        background: #fff;
        margin: 0;
        display: none;
        position: absolute;
        padding: 10px 0;
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        width: 100%;
        min-width: 200px;
        top: 100%;
        z-index: 999999;
        left: 0; }
        .header .store-category #category li .subCategory li {
          color: #131313;
          padding: 10px 20px;
          width: 100%;
          font-weight: 600;
          border: none; }
          .header .store-category #category li .subCategory li a {
            transition: all .5s ease; }
          .header .store-category #category li .subCategory li:hover a {
            color: #b14e4e;
            text-decoration: none;
            cursor: pointer; }
  .header .menu-nav.active {
    right: 0; }
    .header .menu-nav.active .mobile-menu {
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .header .menu-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    text-align: left;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .header .menu-nav .mobile-menu {
      position: fixed;
      margin: 0;
      top: -56px;
      left: 0;
      bottom: -56px;
      width: 240px;
      padding: 132px 0 76px;
      color: #eff0f1;
      background: #2f3033;
      font-size: 14px;
      line-height: 20px;
      overflow: auto;
      -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
      -moz-transform: translateX(-240px);
      -ms-transform: translateX(-240px);
      -o-transform: translateX(-240px);
      -webkit-transform: translateX(-240px);
      transform: translateX(-240px);
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
      -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
      -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
      -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
      transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1); }
      .header .menu-nav .mobile-menu li a.active span {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
        .header .menu-nav .mobile-menu li a.active span:hover {
          background: #2f3033;
          color: #eff0f1; }
      .header .menu-nav .mobile-menu li a {
        display: block;
        padding: 14px 45px 16px 25px;
        color: #fff;
        position: relative;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        text-decoration: none; }
        .header .menu-nav .mobile-menu li a:hover {
          background: #fabf21;
          color: #3b3d40;
          font-weight: 600; }
        .header .menu-nav .mobile-menu li a span {
          position: absolute;
          top: 50%;
          right: 11px;
          margin-top: -17.5px;
          width: 32px;
          height: 32px;
          font: 400 10px "FontAwesome";
          line-height: 32px;
          text-align: center;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -moz-transition: 0.5s all ease;
          -o-transition: 0.5s all ease;
          -webkit-transition: 0.5s all ease;
          transition: 0.5s all ease;
          z-index: 1;
          background: rgba(0, 0, 0, 0.1); }
          .header .menu-nav .mobile-menu li a span::after {
            content: '\f078'; }
          .header .menu-nav .mobile-menu li a span:hover {
            background: #2f3033;
            color: #eff0f1; }
      .header .menu-nav .mobile-menu li ul.mobile-submenu {
        list-style-type: none;
        display: none;
        padding-left: 0;
        margin: 0; }
        .header .menu-nav .mobile-menu li ul.mobile-submenu li a {
          padding-left: 40px;
          text-decoration: none; }
  .header .mobile-header-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: #3b3d40;
    color: #fff;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 10000; }
    .header .mobile-header-nav .mobile-btn-menu {
      background: none;
      border: none;
      display: inline-block;
      padding: 0;
      outline: none;
      outline-offset: 0;
      -webkit-appearance: none;
      position: fixed;
      top: 4px;
      left: 4px;
      width: 48px;
      height: 48px; }
      .header .mobile-header-nav .mobile-btn-menu span {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        width: 24px;
        height: 4px;
        background-color: #fff;
        backface-visibility: hidden;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        position: relative;
        display: block;
        margin: auto;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .header .mobile-header-nav .mobile-btn-menu span::after {
          content: "";
          position: absolute;
          left: 0;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          top: 8px;
          width: 24px;
          height: 4px;
          background-color: #fff;
          backface-visibility: hidden;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          -moz-transform-origin: 1.71429px center;
          -ms-transform-origin: 1.71429px center;
          -o-transform-origin: 1.71429px center;
          -webkit-transform-origin: 1.71429px center;
          transform-origin: 1.71429px center;
          -moz-transform-origin: 1.71429px center;
          -ms-transform-origin: 1.71429px center;
          -o-transform-origin: 1.71429px center;
          -webkit-transform-origin: 1.71429px center;
          transform-origin: 1.71429px center; }
        .header .mobile-header-nav .mobile-btn-menu span::before {
          content: "";
          position: absolute;
          left: 0;
          top: -8px;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          width: 24px;
          height: 4px;
          background-color: #fff;
          backface-visibility: hidden;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          -moz-transform-origin: 1.71429px center;
          -ms-transform-origin: 1.71429px center;
          -o-transform-origin: 1.71429px center;
          -webkit-transform-origin: 1.71429px center;
          transform-origin: 1.71429px center;
          -moz-transform-origin: 1.71429px center;
          -ms-transform-origin: 1.71429px center;
          -o-transform-origin: 1.71429px center;
          -webkit-transform-origin: 1.71429px center;
          transform-origin: 1.71429px center; }
    .header .mobile-header-nav .mobile-btn-menu.active span {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); }
      .header .mobile-header-nav .mobile-btn-menu.active span::before, .header .mobile-header-nav .mobile-btn-menu.active span::after {
        top: 0;
        width: 15px; }
      .header .mobile-header-nav .mobile-btn-menu.active span::before {
        -webkit-transform: rotate3d(0, 0, 1, -40deg);
        transform: rotate3d(0, 0, 1, -40deg); }
      .header .mobile-header-nav .mobile-btn-menu.active span::after {
        -webkit-transform: rotate3d(0, 0, 1, 40deg);
        transform: rotate3d(0, 0, 1, 40deg); }
    .header .mobile-header-nav .mobile-menu-list {
      display: block;
      position: fixed;
      top: 0;
      right: 10px;
      z-index: 10001;
      margin: 0; }
      .header .mobile-header-nav .mobile-menu-list::before {
        display: table;
        content: " "; }
      .header .mobile-header-nav .mobile-menu-list a {
        font-size: 22px;
        line-height: 56px;
        color: #ffffff; }
        .header .mobile-header-nav .mobile-menu-list a i {
          padding: 10px;
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -moz-transition: 0.5s all ease;
          -o-transition: 0.5s all ease;
          -webkit-transition: 0.5s all ease;
          transition: 0.5s all ease; }
        .header .mobile-header-nav .mobile-menu-list a:hover {
          color: #fabf21; }
      .header .mobile-header-nav .mobile-menu-list a.active i {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
      .header .mobile-header-nav .mobile-menu-list ul {
        display: none;
        color: #3b3d40;
        background: #fff;
        margin: 0;
        -webkit-box-shadow: 0 1px 10px rgba(114, 114, 115, 0.3);
        -moz-box-shadow: 0 1px 10px rgba(114, 114, 115, 0.3);
        box-shadow: 0 1px 10px rgba(114, 114, 115, 0.3);
        padding: 10px 0;
        list-style-type: none;
        position: absolute;
        right: -10px;
        top: 100%;
        width: 200px;
        z-index: 20; }
        .header .mobile-header-nav .mobile-menu-list ul li {
          font-size: 16px;
          line-height: 19px;
          padding: 0 5px 0 14px;
          width: 100%;
          text-align: left;
          margin: 0; }
          .header .mobile-header-nav .mobile-menu-list ul li a {
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
            padding: 5px 0; }
            .header .mobile-header-nav .mobile-menu-list ul li a span {
              color: #131313; }
    .header .mobile-header-nav .cart-box {
      position: fixed;
      right: 60px;
      top: 0;
      padding: 0; }
      .header .mobile-header-nav .cart-box a i {
        font-size: 1.6em;
        color: #fabf21;
        vertical-align: middle; }
      .header .mobile-header-nav .cart-box a span {
        margin-left: 0;
        padding: 3px 10px;
        font-weight: 600;
        line-height: 100%;
        background-color: #fabf21;
        border-radius: 100%;
        vertical-align: middle; }

.page-main {
  /*---------- Slide Content -------------------*/ }
  .page-main .banner {
    background: #E9DFC9; }
    .page-main .banner .bx-wrapper {
      background: #E9DFC9;
      margin: 0px;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none; }
  .page-main #homeSlider .content {
    background: #E9DFC9;
    text-transform: uppercase;
    font-weight: 400;
    box-sizing: border-box;
    color: #242424;
    padding: 30px 180px; }
    .page-main #homeSlider .content h1 {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 52px;
      line-height: 56px; }
      .page-main #homeSlider .content h1 a:hover {
        text-decoration: none;
        color: inherit; }
    .page-main #homeSlider .content img {
      margin: 0 20px 0 0;
      width: 100%;
      max-height: 370px;
      object-fit: scale-down; }
    .page-main #homeSlider .content p {
      font-weight: 400; }
    .page-main #homeSlider .content div.tx-price {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 20px;
      margin-top: 15px;
      color: #b14e4e; }
  .page-main .company {
    background: url("../images/parallax-bg.jpg") fixed no-repeat;
    background-size: cover; }
    .page-main .company .container .parallax h3 {
      color: white;
      margin-bottom: 50px; }
    .page-main .company .container .parallax .text-center {
      padding-bottom: 20px; }
      .page-main .company .container .parallax .text-center span {
        width: 100px;
        height: 100px;
        display: inline-block;
        border-radius: 50%;
        font: bold 36px/100px "Roboto";
        text-align: center;
        color: #242424;
        background: #fabf21;
        margin-bottom: 29px; }
      .page-main .company .container .parallax .text-center h5, .page-main .company .container .parallax .text-center p {
        color: white; }

.page-product-detail .container .description {
  padding-left: 10px;
  padding-right: 10px; }
.page-product-detail .container .box-header {
  background: linear-gradient(to bottom, #fff 75%, #fabf21 65%, #fabf21 80%, #fff 60%);
  margin-bottom: 30px; }
.page-product-detail .container h1 {
  text-align: left;
  background: white;
  display: inline;
  padding-right: 8px; }
.page-product-detail #full-gallery {
  display: none; }
  .page-product-detail #full-gallery .full-slider .item .mobile-gallery .product-img img {
    margin: auto;
    max-height: 300px; }
.page-product-detail .image-thumb .bx-wrapper img {
  max-height: 120px;
  margin: auto; }
.page-product-detail .product-gallery .image-thumb {
  float: left;
  width: 16%; }
  .page-product-detail .product-gallery .image-thumb .bx-wrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    margin: 0 !important; }
    .page-product-detail .product-gallery .image-thumb .bx-wrapper .bx-prev, .page-product-detail .product-gallery .image-thumb .bx-wrapper .bx-next {
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      height: 26px;
      line-height: 26px;
      background: rgba(59, 61, 64, 0.5);
      font-size: 16px;
      text-align: center;
      margin: 0;
      color: #000; }
      .page-product-detail .product-gallery .image-thumb .bx-wrapper .bx-prev:hover, .page-product-detail .product-gallery .image-thumb .bx-wrapper .bx-prev:hover, .page-product-detail .product-gallery .image-thumb .bx-wrapper .bx-next:hover, .page-product-detail .product-gallery .image-thumb .bx-wrapper .bx-next:hover {
        background: #fabf21; }
    .page-product-detail .product-gallery .image-thumb .bx-wrapper .bx-prev {
      top: 0;
      bottom: auto; }
    .page-product-detail .product-gallery .image-thumb .bx-wrapper .bx-viewport {
      margin: 0 -10px;
      padding: 0 10px;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      height: 360px !important; }
    .page-product-detail .product-gallery .image-thumb .bx-wrapper .bx-controls-direction a {
      width: 100%; }
      .page-product-detail .product-gallery .image-thumb .bx-wrapper .bx-controls-direction a .fa {
        line-height: inherit;
        text-indent: -9px;
        position: absolute;
        left: 50%;
        color: white;
        vertical-align: top; }
    .page-product-detail .product-gallery .image-thumb .bx-wrapper li a {
      border: 1px solid #e1e1e1;
      background: #fff;
      display: block;
      width: 100%; }
      .page-product-detail .product-gallery .image-thumb .bx-wrapper li a:hover, .page-product-detail .product-gallery .image-thumb .bx-wrapper li a.active {
        background: #FFf;
        -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15); }
.page-product-detail .product-gallery .image-additional {
  margin: 0 -10px 0 0;
  padding: 0 10px 0 0;
  list-style-type: none; }
.page-product-detail .product-gallery #product-image {
  width: calc(100% - 120px);
  float: right; }
  .page-product-detail .product-gallery #product-image img {
    width: 100%;
    height: 370px;
    object-fit: scale-down;
    border: 1px solid #e1e1e1;
    box-sizing: border-box; }
.page-product-detail .product-info h2.product-title {
  text-transform: uppercase;
  line-height: 1.2em; }
.page-product-detail .product-info .price {
  display: inline-block;
  font-size: 36px;
  line-height: 30px;
  color: #b14e4e; }
.page-product-detail .product-info .stock {
  color: #54B70B; }
.page-product-detail .product-info .out-stock {
  color: #b14e4e; }
.page-product-detail .product-info .stock, .page-product-detail .product-info .out-stock {
  font-weight: 700; }

.page-collection .sidebar {
  padding-right: 30px; }
.page-collection .box-siderbar {
  margin-bottom: 30px; }
.page-collection .collection-thumb img {
  width: 100%; }
.page-collection .collection-content h2 {
  margin: 0; }
.page-collection .collection-content .sub-category .thumb-box {
  text-align: center;
  padding: 10px; }
  .page-collection .collection-content .sub-category .thumb-box .image {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    display: block;
    transition: .7s all ease; }
    .page-collection .collection-content .sub-category .thumb-box .image:hover {
      border: 1px solid rgba(0, 0, 0, 0.7); }
    .page-collection .collection-content .sub-category .thumb-box .image img {
      height: 200px; }
  .page-collection .collection-content .sub-category .thumb-box .thumb-title {
    text-decoration: none; }
    .page-collection .collection-content .sub-category .thumb-box .thumb-title h5 {
      padding: 15px 0;
      margin: 0;
      cursor: pointer;
      transition: .7s all ease; }
      .page-collection .collection-content .sub-category .thumb-box .thumb-title h5:hover {
        color: #b14e4e; }
.page-collection .filter {
  background: #efefef;
  height: 45px;
  margin: 30px 15px 30px 15px; }
  .page-collection .filter > form > div {
    cursor: pointer; }
  .page-collection .filter .button {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    float: left;
    color: #a3a3a3; }
    .page-collection .filter .button:hover {
      color: #6e6e6e; }
    .page-collection .filter .button.active {
      color: #fabf21; }
  .page-collection .filter .button.active {
    color: #fabf21; }
  .page-collection .filter .button.disable {
    pointer-events: none;
    cursor: default; }
  .page-collection .filter select {
    height: 45px;
    border: none;
    padding: 0px 5px; }
  .page-collection .filter .sort-type {
    width: 160px;
    height: 45px;
    float: left; }
  .page-collection .filter .range {
    float: right;
    width: 126px;
    height: 45px; }
  .page-collection .filter label {
    font-weight: normal; }
  .page-collection .filter button {
    border: none;
    background: transparent; }
  .page-collection .filter .dd-selected {
    overflow: hidden;
    display: inline-block;
    padding: 6px 10px;
    font-weight: bold;
    line-height: 26px;
    vertical-align: middle; }
  .page-collection .filter .dd-container {
    display: inline-block; }

.page-cart .table-responsive {
  padding-bottom: 20px; }
  .page-cart .table-responsive table th {
    font-weight: bold;
    background: #fabf21; }
  .page-cart .table-responsive table .quantity_increase, .page-cart .table-responsive table .quantity_decrease {
    cursor: pointer; }

/* -------------------------------- 

Common Components


-------------------------------- */
footer {
  border-top: 1px solid #e1e1e1; }
  footer .support .container .left-panel .col-lg-6 {
    padding: 20px; }
    footer .support .container .left-panel .col-lg-6 h5 {
      margin-bottom: 30px; }
    footer .support .container .left-panel .col-lg-6 a {
      text-decoration: none; }
      footer .support .container .left-panel .col-lg-6 a:hover {
        cursor: pointer;
        color: #B14E4E; }

/*********** PRODUCT GRID ***********/
.item-product.list .btn-addCart {
  width: 33.333333%; }

.item-product {
  margin-bottom: 30px;
  border: 1px solid #e1e1e1;
  /*margin-bottom: 10px;*/
  transition: all 0.7s linear;
  position: relative;
  overflow: hidden; }
  .item-product:hover {
    border: 1px solid black; }
    .item-product:hover img {
      transform: scale(1.1); }
  .item-product .product-img {
    padding: 10px; }
    .item-product .product-img img {
      transition: all 0.5s linear;
      width: 100%;
      height: 270px;
      object-fit: scale-down; }
  .item-product .product-detail {
    padding: 10px; }
    .item-product .product-detail a {
      text-decoration: none; }
      .item-product .product-detail a:hover {
        color: #B14E4E; }
      .item-product .product-detail a .product-name {
        height: 55px;
        font-weight: 600;
        font-size: 16px;
        overflow: hidden;
        text-transform: uppercase; }
    .item-product .product-detail .product-price {
      font-size: 22px;
      color: #b14e4e; }
  .item-product .btn-addCart {
    display: block;
    width: 100%; }
  .item-product .sale, .item-product .new {
    position: absolute;
    pointer-events: none;
    top: 21px;
    left: -38px;
    color: #fff;
    background: #b14e4e;
    font: bold 14px/25px "Roboto";
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    width: 120px;
    height: 60px;
    padding-top: 35px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: -7px;
    margin-top: -37px; }

.cart-wrapper .table #cart-template {
  display: none; }
.cart-wrapper .table .cart-product .image a img {
  width: 200px; }
.cart-wrapper .table .cart-product .btn-block a {
  background-color: #ddd;
  padding: 4px 10px; }
.cart-wrapper .table .cart-product .price {
  font-size: 1.3em;
  font-weight: 500; }
.cart-wrapper .table .cart-product .btn-cart-delete {
  padding: 4px 10px;
  background-color: #ddd; }
.cart-wrapper .tb-total tr td {
  border-top: none;
  border-bottom: 1px solid #ddd; }
  .cart-wrapper .tb-total tr td:nth-child(even) {
    text-align: right;
    font-weight: 600;
    color: red;
    font-size: 24px; }

.no-padding {
  padding: 0; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clearfix {
  zoom: 1; }
